.btnFormSave, .btnFormCancel {
    margin-bottom: 10px;
    border: none;
    background-color:#ff5724;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
}
.btnFormSave:hover {
    background-color:#ff3c00;
}
.btnFormCancel {
    background-color: rgba(119, 136, 153, 0.425);
}
.btnFormCancel:hover {
    background-color:rgba(119, 136, 153, 0.303);
}
.Label {
    margin-right: 8px;
}
.type {
    border: 1px solid #eee;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 10px;
}
.gander {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.ganderLable {
    font-weight: 500;
    font-size: 14px;
    color: #333;
}
.inputData {
    display: inline-block;
}
.inputData::placeholder {
    font-size: 15px;
    transform: translate(18px,0px);
}
