 hr {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 300px;
 }
.footer{
    text-align: center;
    color: #607d8b;
    font-size: 13px;
    padding: 10px 0px;
}
.footer a {
    text-decoration: none;
    color: #607d8b;
    font-weight: 500;
}
.footer .logo {
    color: #ff3c00;
    font-weight: bold;
}